name: Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Replace token
        run: |
          sed -i "s|__GH_TOKEN__|${{ secrets.GH_TOKEN }}|g" js/config.js

      - name: Upload artifact to Pages
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
